.login {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.login .content-login {
   margin: 0 auto;
}
.title{
    margin-bottom: 30px;
}